.coin-container{
    display: flex;
    justify-content: center;
}

.coin-row{
    display: flex;
    flex-direction: row;
    justify-items: start;
    align-items: center;
    height: 80px;
    border-bottom: 1px solid #d7d7d7;
    width: 1100px;
}

.coin{
    display: flex;
    align-items: center;
    padding-right: 24px;
    min-width: 300px;
}

.coin h1{
    font-size: 16px;
    width: 150px;
}

.coin img{
    height: 30px;
    width: 30px;
    margin-right: 10px;
}

.coin-symbol{
    text-transform: uppercase;
}

.coin-data{
    display: flex;
    text-align: center;
    justify-content: space-between;
    width: 100%;
}

.coin-price{
    display: flex;
    flex-direction: column;
    margin-left: 0.5rem;
    width: 225px;
}

 span{
    color: rgb(97, 190, 224);
}

.coin-volume{
    display: flex;
    flex-direction: column;
    width: 250px;
}

.coin-marketcap{
    width: 155px;
    display: flex;
    flex-direction: column;
}

.red{
    color: #f00606;
}

.green{
    color: #11d811;
}

@media (max-width: 970px){
    .coin-container{
        display: flex;
        justify-content: center;
        background: white;
    }
    .coin-row{
        width: 190px;
        flex-direction: column;
        height: 200px;
    }
    .coin-data{
        flex-direction: column;
        height: 200px;
    }
}